*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif; /*Cambiar fuente*/
}

/* GRID */

.gridContainer {
    display: grid;
    height: auto;
    grid-template-rows: 100vh auto 20vh;
    grid-template-areas: 
    "fondo"
    "menu"
    "footer";
}

.fondoHome {
    grid-area: fondo;
}
.menu {
    grid-area: menu;
}
footer {
    grid-area: footer;
}

/* HOME */

.fondoHome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/fondo.jpg);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    height: 60px;
    width: 98%;
    align-items: center;
    justify-content: space-between ;
    margin-top: 10px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    
}

nav label {
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}


nav:hover {
    background: white;
    transition: .5s;
    color: black;
}

nav:hover a {
    color: black;
}

nav:hover label {
    color: black;
}

nav ul {
    display: flex;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0px 6px;
}
nav ul li a {
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.containerHome{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.titulo{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 20px;
    animation: fadeInUp;
    animation-duration: 2s;
    position: absolute;
}
.titulo h2{
    font-size: 3.60rem;
	letter-spacing: -2px;
	text-transform: none;
    font-family: 'Karla', sans-serif;
    
}
.titulo p{
    border: 20px;
    line-height: 50px;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

.botonesHome {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botonesHome input {
    height: 50px;
    width: 170px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.botonesHome input:hover{
    background: rgb(25, 24, 24);
    color: white;
}

/* HOME: Seccion de ofertas*/

.textoMenuContainer {
    display: flex;
    height: 250px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 750px;
    margin-top: 70px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu h3{
    font-size: 28px;
    color: #333;
    animation: bounceIn;
    animation-duration: 1s;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.texto-menu p{
    font-size: 18px;
    margin-top: 25px;
    color: #333;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}


/* /* HOME: Seccion de productos */

.displayContainer{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    gap: 30px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}

.container-cards{
    height: 420px;
    width: 330px;
    box-shadow: 0 0 7px #111;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.card img{
    margin: auto;
    display: block;
    height: 300px;
    width: 300px;
    margin: 0px 10px;
    padding-bottom: 30px;
}
.info-card{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}



.info-card h1{
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: #333;
}
.precio{
    height: 50px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}
.box-precio{
    width: 80px;
    margin: 10px 15px;
}
.precio1{
    color: red;
    font-size: .8em;
    text-decoration: line-through;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}
.precio2{
    font-size: 1.7em;
}

.boton-carrito input {
    height: 40px;
    width: 100px;
    border: none;
    font-size: 13px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

/* /* HOME: Seccion de slider */

.sliderContenedor{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.textoSlider h3{
    font-size: 30px;
    color: #333;
    text-align: center;
}
.textoSlider p{
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.slider{
    height: 150px;
    width: 100%;
    margin: 0px 0px;
    background: lightskyblue;

}

/* HOME: Seccion de Newsletter */

.newsletterContenedor {
    display: flex;
    height: 350px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.newsletter {
    height: 150px;
    margin-top: 70px;
}

.newsletter h1 {
    font-size: 25px;
}

.newsletter .email {
    height: 35px;
    width: 68%;
    margin: 30px 20px;
    text-align: center;
    font-size: 1.0em;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.newsletter .button {
    height: 30px;
    width: 8%;
    margin: 0px -10px;
    font-weight: bold;
    background:  rgb(27, 24, 24);
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

/* Footer general */
footer{
    display: flex;
    background-color: rgb(27, 24, 24);
    height: 20vh;
    width: 100%;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

footer .footerText {
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*CATEGORIAS Y MARCAS*/

.gridContainer2 {
    display: grid;
    height: auto;
    grid-template-rows: 50vh auto 20vh;
    grid-template-areas: 
    "fondo2"
    "menu"
    "footer";
}

.fondoCategoriasMarcas {
    grid-area: fondo2;
}

.fondoCategoriasAccesorios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/leaguev3.jpeg);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoCategoriasCalzado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/leaguev3.jpeg);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoCategoriasFutbol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/leaguev3.jpeg);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoCategoriasNba{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/leaguev3.jpeg);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoMarcasNike {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/nikebanner.png);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoMarcasAdidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/nikebanner.png);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoMarcasPuma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/nikebanner.png);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textoMenuContainer2 {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
}

.texto-menu2 h3 {
    font-size: 28px;
    color: #333;
    animation: bounceIn;
    animation-duration: 1s;
}

.paginas {
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.paginas p{
    display: flex;
    padding: 15px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.paginas p a:hover {
    background: rgb(25, 24, 24);
    color: white;
}

.containerInfo {
    display: flex;
    width: 100%;
    height: 230px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.containerInfoInside {
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.containerInfo .info h3{
    font-size: 22px;
    padding-bottom: 5%;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.containerInfo .info p{
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}

/* NOSOTROS */

.gridContainer3 {
    display: grid;
    height: auto;
    grid-template-rows: 40vh auto 20vh;
    grid-template-areas: 
    "fondo3"
    "menu"
    "footer";
}

.fondoNosotros {
    grid-area: fondo3;
}

.menu2{
    display: flex;
    height: 60px;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background: white(5, 0, 0);
}

.menu2 label {
    color: black;
}

.menu2:hover {
    background: black;
    transition: .5s;
    color: white;
}

.menu2:hover a {
    color: white;
}

.menu2:hover label {
    color: white;
}

.menu2 ul li {
    display: inline-block;
    margin: 0px 6px;
}
.menu2 ul li a {
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.fondoNosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);  
    border-style: solid;
    border-top: none;
    border-right: none;
    height: 40vh;
}
.logoNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}


.redesSocialesContainer{
    display: flex;
    justify-content: center;
    height: 210px;
    width: 100%;
    margin-top: 50px;
    align-items: center;
    margin-bottom: 60px;
}

.redesSocialesContainerInside{
    display: flex;
    height: 190px;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 90px;
    
}

.redesSocialesTitulo h1{
    margin-top: 120px;
    text-align: center;
    font-size: 22px;
}
.redesSocialesTitulo h1 span{
    color: rgb(43, 33, 117);
}

.logoSocial{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.logoSocial img{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 200px;
    width: 180px;
}

.titulo{
    text-align: center;
    color: white;
    padding: 25vh 0;
}
.titulo h3{
    font-size: 50px;
    font-weight: bold;
}
.titulo p{
    border: 20px;
    line-height: 50px;
    font-size: 18px;
}


/* CONTACTO */
.gridContainer4 {
    display: grid;
    height: auto;
    grid-template-rows: 40vh auto 28vh;
    grid-template-areas: 
    "fondo3"
    "menu"
    "footer";
}

.textoContacto{      
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    width: 100%;
    text-align: center;
}
.textoContacto h3{
    font-size: 25px;
    color: #333;
    
}

.containerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    margin-bottom: -12%;
    margin-top: 5%;
    width: 100%;
    animation: fadeInUp;
    animation-duration: 1.5s;
}

.tituloContact {
    height: 20px;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.inputContact {
    height: 35px;
    width: 500px;
    margin-bottom: 4%;
}

.inputContact input {
    width: 500px;
    height: 35px;
    text-align: start;
    font-size: 1.0em;
    border-top: none;
    border-right: none;
    border-left: none;
}

.textAreaContact {
    width: 500px;
}

.textAreaContact textarea {
    width: 500px;
}

.buttonsForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 100px;
    width: 100%;
    text-align: center;
}
.buttonsForm .buttonForm{
    height: 40px;
    width: 230px;
    border-radius: 30px;
    font-weight: bold;
    background:  rgb(2, 0, 15);
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}



/* Media queries*/


@media (min-width: 768px) and (max-width: 1024px) {


    /* PORTADA GENERAL */

    .containerHome{
        display: flex;
        flex-direction: column;
        height: 15vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .titulo h3{
        font-size: 38px;
    }
    
    .texto-menu h3{
        font-size: 22px;
    }
    
    .texto-menu {
        width: 85%;
    }
    
    .texto-menu h3{
        font-size: 26px;
    }
    .texto-menu p{
        font-size: 18px;
    }


    /* SECCION DE PRODUCTOS */

    .displayContainer{
        display: flex;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        justify-content: center;
        gap: 30px;
        
    }
    
    .container-cards{
        height: 320px;
        width: 230px;
        box-shadow: 0 0 7px #111;
        
    }
    .card img{
        margin: auto;
        display: block;
        height: 220px;
        width: 220px;
        margin: 0px 10px;
        padding-bottom: 30px;
    }
    .info-card{
        display: flex;
        height: 11%;
        width: 100%;
        align-items: center;
        justify-content: center;

  
    }
    .info-card h1{
        font-family: sans-serif;
        font-size: 0.8em;
        text-align: center;
        color: #333;
        margin: -30px 20px;
    }
    .precio{
        height: 20%;
        width: 100%;
        margin: auto;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box-precio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .precio1{
        color: red;
        font-size: .7em;
        text-decoration: line-through;
    }
    .precio2{
        font-size: 1.5em;
    }

    .boton-carrito {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .boton-carrito input {
        height: 30px;
        width: 80px;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        background-color: black;
        color: white;
        font-weight: bold;
    }
    


    /* NEWSLETTER GENERAL*/
    
    .newsletterContenedor {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .newsletter {
        height: 150px;
        margin-top: 70px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .newsletter h1 {
        font-size: 25px;
    }
    
    .newsletter .email {
        height: 35px;
        width: 68%;
        margin: 30px 20px;
        text-align: center;
        font-size: 1.0em;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    
    .newsletter .button {
        height: 30px;
        width: 12%;
        margin: 0px -10px;
        font-weight: bold;
        background:  rgb(27, 24, 24);
        color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    
    .texto-menu2 h3 {
        font-size: 24px;
    }

    .containerInfo {
        display: none;
    }
    
    
    /* NOSOTROS NAV */

    

    /* CONTAINER REDES SOCIALES*/
    
    .redesSocialesContainerInside{
        flex-direction: row;
        gap:10%;
    }
    
    .redesSocialesTitulo h1{
        margin-top: 17%;
        font-size: 20px;
    }
    
    .logoSocial{
        width: 40%;
        height: auto;
    }
    
    .logoSocial img{
        height: 100%;
        width: 100%;
    }
    
    
    /* CONTACTO */
    .textoContacto h3{
        font-size: 25px;        
    }
    
    .containerContact {
        height: auto;
        width: 100%;
    }
    
    .tituloContact {
        height: 20px;
        width: 450px;
    }
    
    .inputContact {
        height: 35px;
        width: 450px;
    }
    
    .inputContact input {
        width: 450px;
        height: 35px;
    }
    
    .textAreaContact {
        width: 450px;
    }
    
    .textAreaContact textarea {
        width: 450px;
    }
    
    .buttonsForm{
        gap: 3%;
        height: 70px;
    }
    .buttonsForm .buttonForm{
        height: 40px;
        width: 180px;
    }

    .gridContainer4 {
        display: grid;
        height: auto;
        grid-template-rows: 40vh auto 18vh;
        grid-template-areas: 
        "fondo3"
        "menu"
        "footer";
    }
}




@media (min-width: 480px) and (max-width: 768px) {

    /* NAV GENERAL*/
    nav{
        flex-direction: column;
    }

    nav ul {
        flex-direction: row;
        margin-top: 5%;
        gap: 0px;
    }
    
    nav label {
        border-radius: 10px;
        background-color: rgb(30, 30, 30);
        font-size: 35px;
    }
    
    nav:hover {
        background: none;
    }
    
    nav:hover a {
        color: white;
    }

    a:hover {
        background-color: lightslategrey;
    }

    nav:hover label {
        color: white;
    }
    
    nav ul li a {
        background-color: rgb(30, 30, 30);
        color: white;
        font-size: 11.5px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    /* PORTADA GENERAL */

    .containerHome{
        display: flex;
        flex-direction: column;
        height: 15vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .titulo h3{
        font-size: 38px;
    }
    
    .texto-menu h3{
        font-size: 22px;
    }
    
    .texto-menu {
        width: 85%;
    }
    
    .texto-menu h3{
        font-size: 26px;
    }
    .texto-menu p{
        font-size: 18px;
    }

    .displayContainer {
        display: flex;
        flex-direction: column;
    }

    /* NEWSLETTER GENERAL*/
    
    .newsletterContenedor {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .newsletter {
        height: 150px;
        margin-top: 70px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .newsletter h1 {
        font-size: 25px;
    }
    
    .newsletter .email {
        height: 35px;
        width: 68%;
        margin: 30px 20px;
        text-align: center;
        font-size: 1.0em;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    
    .newsletter .button {
        height: 30px;
        width: 12%;
        margin: 0px -10px;
        font-weight: bold;
        background:  rgb(27, 24, 24);
        color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    
    .texto-menu2 h3 {
        font-size: 24px;
    }

    .containerInfo {
        display: none;
    }
    
    
    /* NOSOTROS NAV */

    .menu2{
        display: flex;
        height: 60px;
        width: 98%;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        background: white(5, 0, 0);
    }
    
    .menu2 label {
        color: white;
    }
    
    .menu2:hover {
        background: none;
    }
    
    .menu2 ul li a {
        color: white;
        font-size: 11.5px;
    }
    
    .logoNosotros{
        display: none;
    }

    /* CONTAINER REDES SOCIALES*/
    
    .redesSocialesContainerInside{
        flex-direction: row;
        gap:10%;
    }
    
    .redesSocialesTitulo h1{
        margin-top: 17%;
        font-size: 20px;
    }
    
    .logoSocial{
        width: 40%;
        height: auto;
    }
    
    .logoSocial img{
        height: 100%;
        width: 100%;
    }
    
    
    /* CONTACTO */
    .textoContacto h3{
        font-size: 25px;        
    }
    
    .containerContact {
        height: auto;
        width: 100%;
    }
    
    .tituloContact {
        height: 20px;
        width: 450px;
    }
    
    .inputContact {
        height: 35px;
        width: 450px;
    }
    
    .inputContact input {
        width: 450px;
        height: 35px;
    }
    
    .textAreaContact {
        width: 450px;
    }
    
    .textAreaContact textarea {
        width: 450px;
    }
    
    .buttonsForm{
        gap: 3%;
        height: 70px;
    }
    .buttonsForm .buttonForm{
        height: 40px;
        width: 180px;
    }

    .gridContainer4 {
        display: grid;
        height: auto;
        grid-template-rows: 40vh auto 18vh;
        grid-template-areas: 
        "fondo3"
        "menu"
        "footer";
    }
}