*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* HOME */

.carousel-inner img {
    height: 92.5vh;
    width: 100%;
     background-blend-mode: soft-light;    
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .carousel-caption {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    height: 60%;
    justify-content: flex-start;
    align-items: center;
   
 }
 
 .botonesHome {
   display: flex;
   width: 100%;
   height: 40px;
   padding-top: 40px;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }
 
 .botonesHome input {
   height: 50px;
   width: 170px;
   border: none;
   font-size: 16px;
   font-weight: bold;
   font-family: 'Karla', sans-serif;
   letter-spacing: 1px;
 }
 
 .botonesHome input:hover{
   background: rgb(25, 24, 24);
   color: white;
 }


/* HOME: Seccion de ofertas*/

.menuIndex {
    width: 100%;
    height: 1900px;
    display: flex;
    flex-direction: column;
}

.textoMenuContainer {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 750px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu h3{
    font-size: 28px;
    color: #333;
    animation: bounceIn;
    animation-duration: 1s;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.texto-menu p{
    font-size: 18px;
    margin-top: 25px;
    color: #333;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}


/* /* HOME: Seccion de productos */

.displayContainer{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    gap: 30px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}
.card img{
    margin: auto;
    display: block;
    height: 280px;
    width: 240px;
    background-position: center;
    padding-bottom: 40px;
}
.info-card{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.info-card h1{
    font-family: 'Karla', sans-serif;
    font-size: 1.0em;
    text-align: center;
    color: #333;
}
.precio{
    height: 50px;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}
.box-precio{
    width: 80px;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
}
.precio1{
    color: red;
    font-size: .8em;
    text-decoration: line-through;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}
.precio2{
    font-size: 1.3em;
}

.boton-carrito input {
    height: 40px;
    width: 100px;
    border: none;
    font-size: 13px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

/* /* HOME: Seccion de slider */

.sliderContenedor{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 250px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.textoSlider h3{
    font-size: 30px;
    color: #333;
    text-align: center;
}
.textoSlider p{
    color: #333;
    text-align: center;
    margin-top: 10px;
}

.slider{
    height: 150px;
    width: 100%;
    margin: 0px 0px;
    background: lightskyblue;
}

/* HOME: Seccion de Newsletter */

.newsletterContenedor {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.newsletter {
    height: 150px;
}

.newsletter h1 {
    font-size: 25px;
}

.inputContactNewsletter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.newsletter .email {
    height: 35px;
    width: 68%;
    margin: 30px 20px;
    text-align: center;
    font-size: 1.0em;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.newsletter .button {
    height: 30px;
    width: 70px;
    margin: 0px -10px;
    font-weight: bold;
    background:  rgb(27, 24, 24);
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

/* Footer general */
footer{
    display: flex;
    background-color: rgb(27, 24, 24);
    height: 25vh;
    width: 100%;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}

footer .footerText {
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*CATEGORIAS Y MARCAS*/

.fondoNba {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/leaguev3.jpeg);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fondoNike {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    background: url(../img/nikebanner.png);
    background-color: rgba(45, 45, 45, 0.7);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.textoMenuContainer2 {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu2 h3 {
    font-size: 28px;
    color: #333;
    animation: bounceIn;
    animation-duration: 1s;
}

.pagination {
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.paginas {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.containerInfo {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: aqua;
}

.containerInfoInside {
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.containerInfo .info h3{
    font-size: 22px;
    padding-bottom: 5%;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.containerInfo .info p{
    font-family: 'Karla', sans-serif;
    letter-spacing: 0.5px;
}

/* NOSOTROS */

.fondoNosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    border-style: solid;
    border-top: none;
    border-right: none;
    height: 40vh;
}

.menuNosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
}

.logoNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/ds.png);
    background-blend-mode: soft-light;    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 190px;
    height: 150px;
}

.containerInfoNosotros {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.containerInfoInsideNosotros {
    display: flex;
    width: 80%;
    height: 200px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.containerInfoInsideNosotros .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.redesSocialesContainer{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
    align-items: center;
}

.redesSocialesContainer .containerSocial {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}

.redesSocialesContainerInside{
    display: flex;
    height: 190px;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.logoSocial{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.logoSocial img{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 120px;
    width: 120px;
}

.titulo{
    text-align: center;
    color: white;
    padding: 25vh 0;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.titulo h3{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.titulo p{
    border: 20px;
    line-height: 50px;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}


/* CONTACTO */

.menu {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.textoContacto{      
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60px;
    width: 100%;
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.textoContacto h3{
    font-size: 25px;
    color: #333;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContacto{
    height: 800px;
    width: 100%;
}

.containerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 700px;
    width: 70%;
    animation: fadeInUp;
    animation-duration: 1.5s;
    gap: 15px;
}

.tituloContact {
    height: 20px;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.inputContact {
    height: 35px;
    width: 500px;
    margin-bottom: 3%;
}

.inputContact input {
    width: 500px;
    height: 35px;
    text-align: start;
    font-size: 1.0em;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.inputContact label {
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.textAreaContact {
    width: 500px;
}

.textAreaContact textarea {
    width: 500px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.buttonsForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: 250px;
    width: 100%;
    text-align: center;
}

.buttonsForm button{
    height: 40px;
    width: 230px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}



/* Media queries*/


@media (min-width: 768px) and (max-width: 1024px) {


    /* PORTADA GENERAL */

    
.carousel-inner img {
    height: 70vh;
 }


 .menuIndex{
     height: 1450px;
 }

 .textoMenuContainer {
    height: 300px;
}

 
    .botonesHome input {
    height: 40px;
    width: 140px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
 }

    .titulo h3{
        font-size: 38px;
    }
    
    .texto-menu h3{
        font-size: 22px;
    }
    
    .texto-menu {
        width: 85%;
    }
    
    .texto-menu h3{
        font-size: 26px;
    }
    .texto-menu p{
        font-size: 18px;
    }


    /* SECCION DE PRODUCTOS */

    .displayContainer{
        display: flex;
        align-items: center;
        margin-top: 30px;
        width: 100%;
        justify-content: center;
        gap: 30px;
        
    }

    .card img{
        margin: auto;
        display: block;
        height: 200px;
        width: 200px;
        padding-bottom: 30px;
    }
    .info-card{
        display: flex;
        height: 11%;
        width: 100%;
        align-items: center;
        justify-content: center;

  
    }
    .info-card h1{
        font-family: sans-serif;
        font-size: 0.8em;
        text-align: center;
        color: #333;
    }
    .precio{
        height: 20%;
        width: 100%;
        margin: auto;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .box-precio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .precio1{
        color: red;
        font-size: .6em;
        text-decoration: line-through;
    
    }
    .precio2{
        font-size: 1.4em;
    }
    
    .boton-carrito button {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    


    /* NEWSLETTER GENERAL*/
    
    .newsletterContenedor {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .newsletter {
        height: 150px;
        margin-top: 70px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .newsletter h1 {
        font-size: 25px;
    }
    
    .newsletter .email {
        height: 35px;
        width: 68%;
        margin: 30px 20px;
        text-align: center;
        font-size: 1.0em;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    
    .newsletter .button {
        height: 30px;
        width: 12%;
        margin: 0px -10px;
        font-weight: bold;
        background:  rgb(27, 24, 24);
        color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    
    .texto-menu2 h3 {
        font-size: 24px;
    }

    .containerInfo {
        display: none;
    }
    

     /* CONTAINER TEXTO NOSOTROS*/

     .menuNosotros {
         height: 1400px;
     }
     .textoMenuContainer{
         height: 400px;
     }

     .containerInfoNosotros {
        display: flex;
        height: 700px;
    }
    
    .containerInfoInsideNosotros {
        display: flex;
        flex-direction: column;
        gap: 60px;
        
    }
    
    .containerInfoInsideNosotros .info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    

    /* CONTAINER REDES SOCIALES*/
    
    .redesSocialesContainerInside{
        flex-direction: row;
        gap:10%;
    }
    
    .redesSocialesTitulo h1{
        margin-top: 17%;
        font-size: 20px;
    }
    
    .logoSocial{
        width: 40%;
        height: auto;
    }
    
    .logoSocial img{
        height: 100%;
        width: 100%;
    }
    
    
    /* CONTACTO */

    .menuContacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 700px;
        gap: 50px;
    }
    .textoContacto h3{
        font-size: 25px;        
    }
    
    .containerContact {
        height: auto;
        width: 100%;
    }
    
    .tituloContact {
        height: 20px;
        width: 450px;
    }
    
    .inputContact {
        height: 35px;
        width: 450px;
    }
    
    .inputContact input {
        width: 450px;
        height: 35px;
    }
    
    .textAreaContact {
        width: 450px;
    }
    
    .textAreaContact textarea {
        width: 450px;
    }
    
    .buttonsForm{
        gap: 3%;
        height: 70px;
        margin-top: 70px;
    }
    .buttonsForm .buttonForm{
        height: 40px;
        width: 180px;
    }
    footer{
        height: 200px;
    }
}




@media (min-width: 480px) and (max-width: 768px) {

    /* NAV GENERAL*/
    .carousel-inner img {
        height: 50vh;
     }

     .carousel-caption {
        position: absolute; 
        right: 15%;
        top: 90px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        
      }

      .menuIndex {
          width: 100%;
          height: 3050px;
      }
    
      .textoMenuContainer {
        height: 400px;
    }
    
    .texto-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 750px;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;
    }
    
    .texto-menu h3{
        font-size: 28px;
        color: #333;
        animation: bounceIn;
        animation-duration: 1s;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;
    }
    .texto-menu p{
        font-size: 18px;
        margin-top: 25px;
        color: #333;
        font-family: 'Karla', sans-serif;
        letter-spacing: 1px;
    }
    
     
     .botonesHome input {
       height: 30px;
       width: 110px;
       border: none;
       font-size: 13px;
       font-weight: bold;
       font-family: 'Karla', sans-serif;
       letter-spacing: 1px;
     }

     .titulo h3{
        font-size: 38px;
    }
    
    .texto-menu h3{
        font-size: 22px;
    }
    
    .texto-menu {
        width: 85%;
    }
    
    .texto-menu h3{
        font-size: 26px;
    }
    .texto-menu p{
        font-size: 18px;
    }

    .displayContainer {
        display: flex;
        flex-direction: column;
    }

    /* NEWSLETTER GENERAL*/
    
    .newsletterContenedor {
        display: flex;
        height: 200px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .newsletter {
        height: 150px;
        margin-top: 70px;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .newsletter h1 {
        font-size: 25px;
    }
    
    .newsletter .email {
        height: 35px;
        width: 68%;
        margin: 30px 20px;
        text-align: center;
        font-size: 1.0em;
        border-top: none;
        border-right: none;
        border-left: none;
    }
    
    .newsletter .button {
        height: 30px;
        width: 12%;
        margin: 0px -10px;
        font-weight: bold;
        background:  rgb(27, 24, 24);
        color: white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }
    
    .texto-menu2 h3 {
        font-size: 24px;
    }

    .containerInfo {
        display: none;
    }
    
    
    /* NOSOTROS NAV */


    /* CONTAINER TEXTO NOSOTROS*/

    .menuNosotros{

        height: 1500px;
    }

    .textoMenuContainer {
        height: 700px;
    }

    .containerInfoNosotros {
        display: flex;
        height: 900px;
    }
    
    .containerInfoInsideNosotros {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    
    .containerInfoInsideNosotros .info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }


    /* CONTAINER REDES SOCIALES*/
    
    .redesSocialesContainerInside{
        flex-direction: row;
        gap:10%;
    }
    
    .redesSocialesTitulo h1{
        margin-top: 17%;
        font-size: 20px;
    }
    
 
   
    
    
    /* CONTACTO */

 
    
    .containerContact {
        height: auto;
        width: 100%;
        margin-top: 30px;
    }
    
    .tituloContact {
        height: 20px;
        width: 450px;
    }
    
    .inputContact {
        height: 35px;
        width: 450px;
    }
    
    .inputContact input {
        width: 450px;
        height: 35px;
    }
    
    .textAreaContact {
        width: 450px;
    }
    
    .textAreaContact textarea {
        width: 450px;
    }
}

@media (min-width: 0px) and (max-width: 480px) {

    /* NAV GENERAL*/
.carousel-inner img {
    height: 50vh;
 }

 .carousel-caption {
    position: absolute; 
    right: 15%;
    top: 90px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    
  }

  .menuIndex {
      width: 100%;
      height: 3350px;
  }

  .textoMenuContainer {
    height: 1500px;
}

.texto-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 750px;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.texto-menu h3{
    font-size: 28px;
    color: #333;
    animation: bounceIn;
    animation-duration: 1s;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}
.texto-menu p{
    font-size: 18px;
    margin-top: 25px;
    color: #333;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

 
 .botonesHome input {
   height: 30px;
   width: 110px;
   border: none;
   font-size: 13px;
   font-weight: bold;
   font-family: 'Karla', sans-serif;
   letter-spacing: 1px;
 }

 .titulo h3{
    font-size: 38px;
}

.texto-menu h3{
    font-size: 22px;
}

.texto-menu {
    width: 85%;
}

.texto-menu h3{
    font-size: 26px;
}
.texto-menu p{
    font-size: 18px;
}

.displayContainer {
    display: flex;
    flex-direction: column;
}

/* NEWSLETTER GENERAL*/

.newsletterContenedor {
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.newsletter {
    height: 150px;
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
}

.newsletter h1 {
    font-size: 25px;
}

.newsletter .email {
    height: 35px;
    width: 68%;
    margin: 30px 20px;
    text-align: center;
    font-size: 1.0em;
    border-top: none;
    border-right: none;
    border-left: none;
}

.newsletter .button {
    height: 30px;
    width: 12%;
    margin: 0px -10px;
    font-weight: bold;
    background:  rgb(27, 24, 24);
    color: white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.texto-menu2 h3 {
    font-size: 24px;
}

.containerInfo {
    display: none;
}


/* NOSOTROS NAV */


/* CONTAINER TEXTO NOSOTROS*/

.menuNosotros{

    height: 1500px;
}

.textoMenuContainer {
    height: 700px;
}

.containerInfoNosotros {
    display: flex;
    height: 900px;
}

.containerInfoInsideNosotros {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.containerInfoInsideNosotros .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* CONTAINER REDES SOCIALES*/

.redesSocialesContainerInside{
    flex-direction: row;
    gap:10%;
}

.redesSocialesTitulo h1{
    margin-top: 17%;
    font-size: 20px;
}





/* CONTACTO */



.containerContact {
    height: auto;
    width: 100%;
    margin-top: 30px;
}

.tituloContact {
    height: 20px;
    width: 450px;
}

.inputContact {
    height: 35px;
    width: 450px;
}

.inputContact input {
    width: 450px;
    height: 35px;
}

.textAreaContact {
    width: 450px;
}

.textAreaContact textarea {
    width: 450px;
}
    
}