/*COLORES DE LA PAGINA*/
$blanco: white;
$negroEspecial: rgb(25, 24, 24);
$azulEspecial: rgb(42, 158, 230);

// MAP
$colores: (
    "primary": white,
    "secondary":  rgb(25, 24, 24),
    "AzulBotones": rgb(42, 158, 230),
);



$fuente: 'Karla', sans-serif;